<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<div class="container">
		<div th:replace="fragment/bodyHeader :: bodyHeader" />

		<div class="row m-5 no-gutters shadow-lg">

			<div class="col-md-6 d-none d-md-block">
				<img
					src="https://images.pexels.com/photos/6234603/pexels-photo-6234603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
					class="img-fluid" style="min-height: 100%;" />
			</div>
			<div class="col-md-6 bg-white p-5">
				<h3 class="pb-3">Login Form</h3>
				<div class="form-style">
					<form method="post">
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />
						<div th:if="${msg}">
							<p th:text="${msg}" class="alert alert-danger"></p>
						</div>
						<div class="form-group pb-3">
							<input type="text" name="email" class="form-control" id="email"  placeholder='email'/>
						</div>
						<div class="form-group pb-3">
							<input type="password" name="password" class="form-control"
								id="password" placeholder='password'/>
						</div>
					</form>
					<div class="pb-2">
						<button type="button" id="btn-save"
							class="btn btn-dark w-100 font-weight-bold mt-2">Submit</button>
					</div>
					<div class="pt-4 text-center">
						Get Members Benefit. <a href="/web/signup">Sign up</a> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type='text/javascript'>
'use strict';
//회원가입 js -ajax
let index = {           //파라미터
  init:function(){    //1.이벤트 2.무엇을할건지적는다
  	$("#btn-save").on("click", () =>{
  		this.save() //save 함수를 호출한다
  	});
    
  },

  save : function(){
  	var data = {
  			email : $("#email").val(),
  			password : $("#password").val()
  	};
  	
  	alert("data::" + JSON.stringify(data));
  
  	$.ajax({
  		type : 'POST',
  		url : '/v1/user/signin',
  		dataType: "json",
  		contentType : 'application/json; charset=utf-8',
  		data : JSON.stringify(data)
  	}).done(function(){
  	  localStorage.setItem("accessToken", data.accessToken);
      localStorage.setItem("refreshToken", data.refreshToken);
      localStorage.setItem("name" , data.name)
  		alert("로그인 되었습니다");
  		window.location.href = '/web/index';
  	}).fail(function(error){
  		alert(JSON.stringify(error));
  	});
  	
  }
};

index.init();
</script>
</body>
</html>